@model Universityapp.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeAdress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeAdress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gendre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gendre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HaveInsurancef)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HaveInsurancef)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
